# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
__legacy__
_pages
_components
docs
node_modules
dist
dist-ssr
*.local
.env
FullSystem
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos temporários de teste - remover em produção
**/trash.js

# Cypress
cypress/downloads/*
cypress/screenshots/*
cypress/videos/*
!cypress/downloads/.gitkeep
!cypress/screenshots/.gitkeep
!cypress/videos/.gitkeep
